@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lexend+Deca&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: white;
    font-size: 15px;
}

.form {
    background-color:hsl(233, 47%, 7%);
    margin: auto;
    margin-top: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 1440px;
    display: flex;
}
.card{ 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin: auto;
    width: 1200px;
    height: 450px;
}

.cardLeft{
    background-color: hsl(244, 38%, 16%);    
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    text-align: left;
    width: 50%;
    height: 100%;
}

.cardRight{
    text-align: left;
    width: 50%;
    height: 100%;
}

.footerCard{
 display: flex;
}

h1.finalCardLeft{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 2px;
    max-width: 60%;
    padding-left: 90px;
    color: hsl(0, 0%, 100%);
}

p.finalCardLeft{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    max-width: 60%;
    margin-left: 90px;
    margin-top: 1px;
    color: hsla(0, 0%, 100%, 0.75);
}

h1.finalCard{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 2px;
    max-width: 60%;
    padding-left: 40px;
    color: hsl(0, 0%, 100%);
}

p.finalCard{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    max-width: 60%;
    margin-left: 40px;
    margin-top: 1px;
    color: hsla(0, 0%, 100%, 0.75); 
}

p {
     font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    max-width: 60%;
    margin-left: 90px;
    line-height: 8mm;
    color: hsla(0, 0%, 100%, 0.75); 
} 


H1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 40px;
    max-width: 60%;
    padding-left: 90px;
    line-height: 1.1cm;
    color: hsl(0, 0%, 100%);
}

.colorPurple{
    color:hsl(277, 64%, 61%);
}

img{
    background-color: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    filter: brightness(0.4) sepia(1) saturate(4) hue-rotate(230deg);
}