.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: white;
    font-size: 15px;
}

.form {
    background-color:hsl(233, 47%, 7%);
    margin: auto;
    margin-top: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 1440px;
    display: flex;
}
.card{
    background-color: hsl(244, 38%, 16%);
    border-radius: 8%;
    margin-left: 200px;
    width: 1000px;
    height: 450px;
}
p, H1{
    max-width: 50%;
}

img{
    width: 50%;
    height: 100%;
    float: right;
}